<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.tim.broadcast_demo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 静态注册广播接收者 -->
<!--        <receiver-->
<!--            android:name=".PowerReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" >-->
<!--            &lt;!&ndash; 接收哪些广播 &ndash;&gt;-->
<!--            <intent-filter>-->
<!--                &lt;!&ndash; 开始充电广播 &ndash;&gt;-->
<!--                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>-->
<!--                &lt;!&ndash; 低电量广播 &ndash;&gt;-->
<!--                <action android:name="android.intent.action.BATTERY_LOW"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- 静态注册广播接收者 -->
<!--        <receiver android:name=".AppReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                &lt;!&ndash; 应用卸载广播 &ndash;&gt;-->
<!--                <action android:name="android.intent.action.PACKAGE_REMOVED"/>-->
<!--                &lt;!&ndash; 应用安装广播 &ndash;&gt;-->
<!--                <action android:name="android.intent.action.PACKAGE_ADDED"/>-->
<!--                &lt;!&ndash; 声明这个数据类型才可以收到应用安装/卸载的广播 &ndash;&gt;-->
<!--                <data android:scheme="package"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>